body{
    margin: 0px;
    background-color: rgb(215, 247, 247);
}

#header,#footer{
    background-color: rgb(174, 64, 218);
    color: rgb(16, 10, 10); /* text color */
    /*height: 60px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

#title{
     border: 2px solid whitesmoke;
     width: 150px;
     margin: 10px;
     padding: 10px;
     margin-left: 70px;
     font-size: 20px;
     font-weight: bold;
     text-shadow: 5px 5px 15px rgb(23, 19, 19);
     border-radius: 10px;
     text-align: center;
     float: left;
}

#menu {
    
    float: left;
}

#menu li,#img-arrow {
     float: left;
     margin-left: 30px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: bold;
     list-style-type: none;
     cursor: pointer;
}

#menu li:hover {
    float: left;
    margin-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    background-color: whitesmoke;
    color:rgb(56, 54, 54);
    border-radius: 5px;
    padding: 5px;
}

#social-media {
   float :right;
}

#social-media li{
    margin-left: 5px;
    cursor: pointer;
}

#social-media li:hover{
    margin-left: 10px;
}
.media:hover
{
    transform: scale(1.3,1.3);
}
#twitter{
    position: absolute;
}
#slide-area{
    height: 450px;
    background-color: rgb(174, 171, 171);
    

}

#slide-area #slide-show{
    height: 100%;
    margin-left: 10%;
    width: 80%;
    background-color: white;
    position:relative;
}

#slide-area #slide-show #img1{
    height: 100%;
    width: 100%;
}

.icon{
    width: 45px;
    height: 45px;
    cursor: pointer;
    
}

#left-icon {
    position: absolute;
    top:45%;
    left: 4%;
}

#right-icon {
    position: absolute;
    top:45%;
    right: 4%;
}

.icon,.up-arrow:hover{
    transform: scale(1.3,1.3);
}


#social-media img{
    position: absolute;
    right: 5px;
    height: 20px;
}

#footer{
    text-align: center;
    padding: 20px;
}

#slide-area #up-arrow{
   position: absolute;
   top:0px;
   right:2px;
}

#slide-area #down-arrow{
    position: absolute;
    top:0px;
    left:2px;
}

.arrow{
    width: 20px;
}
