#content-box{
    float: left;
    margin-left: 20px;
    border: 35px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}
#xtitle{
    top:-10px;
}
#xcontent{
    padding: 2px 16px;    
    display: inline-block;
    width: 500px;
}
